@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loading {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading .";
  }
  50% {
    content: "Loading ..";
  }
  75% {
    content: "Loading ...";
  }
  100% {
    content: "Loading";
  }
}

.loading::after {
  content: "Loading";
  animation: loading 1.5s infinite;
}

.card {
  @apply border-2 border-slate-100 bg-slate-100 rounded-md shadow-stone-800 shadow-sm text-center p-4 m-4 mx-auto;
}

body {
  @apply flex items-center justify-center min-w-full min-h-screen bg-turq text-slate-900;
}

a {
  @apply font-medium text-slate-900 no-underline hover:text-slate-700 active:text-slate-900;
}

.detail {
  @apply p-2;
}