:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#uid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#uid div {
  margin: 10px 0;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
